<!DOCTYPE html>
<html>
<head>
  <title>QR Verification</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<section class="admin-dashboard">
  <div class="admin-box full-box">
    <h1>✅ Verified Scholarship Receipt</h1>

    <p><b>Name:</b> <%= student.name %></p>
    <p><b>Registration No:</b> <%= student.registrationNo %></p>
    <p><b>College:</b> <%= student.college %></p>
    <p><b>Status:</b> <%= student.status %></p>
    <p><b>Payment:</b> <%= student.paymentStatus %></p>
  </div>
</section>

</body>
</html>